# Configuration
/config/vars.*
/config/local.php
/config/salt-keys.php

# .htaccess
/config/htaccess/*-local
/web/.htaccess
/web/.htpasswd

# Composer
/vendor

# File system files
.DS_Store
*~
.fuse*

# Security
*.db
*.log

# WordPress core
/web/wpcb

# WordPress temp files
/web/app/cache
/web/app/upgrade

# WordPress Plugins
/web/app/modules/*
!/web/app/modules/.gitkeep

# WordPress MU-Plugins
/web/app/mu-modules/*/
!/web/app/mu-modules/00-wp-cubi-core-mu/
!/web/app/mu-modules/10-wp-cubi-admin-bar/

# WordPress Media / Uploads
/web/media/*
!/web/media/.gitkeep
