# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.php text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.md text eol=lf
