sudo: false

language: php

php:
    - 7.1
    - 7.2
    - 7.3

cache:
    directories:
        - $HOME/.composer/cache

install:
    - composer install --no-interaction --prefer-dist

script:
    - ./vendor/bin/phpcs . -p --standard=./phpcs.xml
